

<button class="btn btn-outline-dark m-3" (click)="descargar()">
    <span role="status" [ngClass]="{'spinner-border': loading}"></span>
    Descargar
</button>

<table *ngIf="data" class="table table-bordered">
    <thead>

        <tr>
            <th scope="col">N°</th>
            <th scope="col" *ngFor="let letter of extraCols">
                {{letter}}
            </th>
            <th scope="col">SUM</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let row of data; let index = index">
            <th>{{index}}</th>
            <td *ngFor="let letter of extraCols">
                {{row[letter]}}
            </td>
            <!-- <td>{{row.text}}</td> -->
            <td>
                {{row.sum}}
            </td>
            
        </tr>
    </tbody>
</table>

