
<button class="btn btn-outline-dark m-3" (click)="descargar()">
    Descargar
    <span role="status" [ngClass]="{'spinner-border': loading}"></span>
</button>

<table *ngIf="data" class="table table-bordered">
    <thead>

        <tr>
            <th scope="col">N°</th>
            <th scope="col">Number</th>
            <th scope="col">Quantity</th>
            <th scope="col">FirstPosition</th>
            <th scope="col">LastPosition</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of data; let index = index"
        
        [ngClass]="{'bg-success':row.quantity>=2, 'bg-warning': row.quantity===1, 'bg-dark': row.quantity<1, 'text-light': row.quantity<1}">
            <th>{{index}}</th>
            <td>{{row.number}}</td>
            <td>{{row.quantity}}</td>
            <td>{{row.firstPosition}}</td>
            <td>{{row.lastPosition}}</td>
        </tr>
    </tbody>
</table>
