
<nav class="navbar bg-light">
  <div class="navbar-brand">
    {{title}}
  </div>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'disabled': currentUrl == '/lista'}" routerLink="/lista">LISTA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'disabled': currentUrl == '/dict'}" routerLink="/dict">DICT</a>
    </li>
  </ul>
</nav>

<div class="content" role="main">


  <router-outlet></router-outlet>
</div>
